langgraph
langgraph-checkpoint-sqlite
langchain>=1.0
langchain-google-genai
python-dotenv
fastapi
uvicorn
langgraph-checkpoint-postgres
psycopg[binary]
langchain-postgres
pgvector
langchain-text-splitters
psycopg2-binary